*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/****** COMMONS ******/
.container-header{
    background-color: #2C3E50;
    height: 100px;
    display: flex;
    align-items: center;
}

.container-main-green{
    background-color: #1ABC9C;
}

/****** HEADER ******/
.fa-bars{
    color: gray;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 23px;
}

.content-list-header{
    padding-top: 15px;
}

ul{
    list-style: none;
    padding: 0;
}

.ul-header{
    padding: 0 15px;
}

li{
    display: inline-block;
}



/****** MAIN ******/

/* CONTAINER JUMBO */
.img-jumbo{
    width: 230px;
    margin: 15px 0 10px;
}

.fa-star {
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    position: relative;
    padding: 0 10px;
}

hr{
    width: 80px;
    border: 2px solid;
}

/* CONTAINER BG-WHITE */
.content-title{
    margin-top: 20px;
    color: #2C3E50;
}


/* CONTAINER FORM */
.my-form{
    border-bottom: 1px solid lightgray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-bottom: 15px;
}

.button-color{
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}



/****** FOOTER ******/
.container-footer-up{
    background-color: #3A546D;
}

.fa-brands{
    border: 1px solid white;
    border-radius: 100%;
    padding: 11px;
    margin: 5px 3px;
}

.fa-facebook-f{
    padding: 11px 16px;
}

a{
    color: #1ABC9C;
    text-decoration: none;
}

.container-footer-down{
background-color: #2C3E50;
}