*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/****** COMMONS ******/
.container-header{
    background-color: #2C3E50;
    height: 100px;
}

.container-main-green{
    background-color: #1ABC9C;
}

/****** HEADER ******/
.content-header{
    background-color: white;
    height: 90px;
    margin: 5px;
}


/****** MAIN ******/

/* CONTAINER BG-GREEN */
.content-jumbo{
    background-color: blanchedalmond;
    height: 300px;
    margin: 10px;
}

/* CONTAINER BG-WHITE */
.content-title{
    background-color: rgb(102, 102, 250);
    height: 100px;
    margin-top: 20px;
}

.height-content{
    height: 200px;
    border-radius: 10px;
}

.content-bg-red {
    background-color: #BA4B63;
}

.content-bg-light-blue{
    background-color: #1EA4B6;
}

.content-bg-black {
    background-color: #140F0F;
}

.content-bg-blue {
    background-color: #1C83C1;
}

.content-bg-dark-blue {
    background-color: #0E38B5;
}

.content-bg-beige {
    background-color: #CCB2A3;
    margin-bottom: 50px;
}

/* CONTAINER BG-GREEN 2 */
.content-text-center{
    background-color: white;
    height: 150px;
}

.content-button{
    background-color: beige;
    height: 50px;
    margin-bottom: 15px;
}

/* CONTAINER BG-WHITE 2 */
.content-form{
    background-color: rgb(123, 186, 241);
    height: 250px;
}

/****** FOOTER ******/